:root{
  --react-blue: #52DCF7;
  --react-gray: #282C2E;
  --react-white: #FFFFFF;
  --react-black: #000000;
}

/*
 header-denver-react-logo
 */

.react-denver-logo {
  background-color: var(--react-blue);
  width: 200px;
  padding: 0px 30px 0px 30px;
  margin: 30px;
  text-align: center
}

.logo-text-denver {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.logo-text-js {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: right;
  margin: 0.5em 1.8em 0em 1em;
}

.react-logo {
  float: left;
  height: 90px;
  margin-top: -15px;
  width: 90px;
}

/*
 talk component
 */

.talk-background {
  background-color:  var(--react-blue);
  color: var(--react-black);
}
.text-color-white{
  color: var(--react-white);
}

 #app{
   background-color: var(--react-gray);
 }
