:root{
  --react-blue: #52DCF7;
  --react-gray: #282C2E;
  --react-white: #FFFFFF;
  --react-black: #000000;
}

/*
 app
 */
 #app{
   background: var(--react-gray);
 }
 .main-app{
   padding-top: 0px;
   padding-bottom: 50px;
 }
/*
 header-denver-react-logo
 */

.react-denver-logo {
  position: relative;
  background: var(--react-blue);
  height: 210px;
  margin-left: 30px;
  text-align: center;
  width: 200px;
}

.react-denver-logo h2 {
  margin: 0px;
}

.logo-text-denver {
  background: var(--react-white);
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  padding-top: 5px;
}

.logo-text-js {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
}

.react-logo {
  height: 100px;
  width: 100px;
}

/*
 talk component
 */

.talk-background {
  background-color:  var(--react-blue);
  color: var(--react-black);
}
.text-color-white{
  color: var(--react-white);
}
.talk-card {
  margin: auto;
  width: 90%;
}
.talk-center{
  text-align: center;
}

/*
 Map cantainer component
 */

  .map-container {
    width: 500px;
    height: 500px;
    margin: 50px 0 0 50px
  }
